QFrame#DropFrame{
	border-image: url(:/images/dropbox_background_blue.png);
}
QMainWindow{
	border-image: url(:/images/window_background_blue.png);
}
QWidget#ConverterProcess{
	border-image: url(:/images/window_background_blue.png);
}